.dark-shade {
    filter: brightness(40%);
}
.custom-btn {
    display: inline-block;
    position: relative;
    color: white;
    background-color: var(--app-green);
    padding: 10px 20px 10px 30px;
    border-radius: 5px;
    z-index: 9;
}
.custom-btn::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--app-primary);
    border-radius: 5px;
    clip-path: circle(23% at -3% 50%);
    transition: all .4s;
    z-index: -1;
}
.custom-btn:hover::before {
    clip-path: circle(100%);
}

.outline-btn-primary {
    color: var(--app-primary);
    background-color: transparent;
    border: 1px solid var(--app-primary);
    border-radius: 5px;
    transition: .4s;
}
.outline-btn-primary:hover {
    color: white;
    background-color: var(--app-primary);
}

.outline-btn-green {
    color: var(--app-green);
    background-color: transparent;
    border: 1px solid var(--app-green);
    border-radius: 5px;
    transition: .4s;
}
.outline-btn-green:hover {
    color: white;
    background-color: var(--app-green);
}
